html {
    margin: 5px;
}

body {
  font-size: 0.5rem;
  font-family: Arial, 'Microsoft YaHei', serif;
  word-break: break-all;
  background: #FFF;
  padding: 0;
  margin: 0;
  line-height: 1.6;

 background:url(../image/mobile_background.jpg);
}
ul {
  padding: 0 0 0 2em;
  margin: 0;
}

/*容器*/
#wrapper {
	border-top: 1px dotted #e2e2e2;
	margin: 5px;
	padding: 10px;
	box-shadow: 3px 10px 15px #e2e2e2;
}

#wrapper a {
  color: #42A5F5;
  text-decoration: none;
}

.subtitle {
  font-size: 1.1rem;
  display: block;
  color: #943634;
  font-weight: 600;
  margin-bottom: 0.5em;
}


/*
 * ***********************************************
 * 顶部下载按钮
 *    - 移动端取消下载功能   
 * ***********************************************
 */
#top {
  font-size: 0.8rem;
  background: #323639;
  height: 2.5em;

  display: none;
}


/*
 * ***********************************************
 * 顶部信息
 * ***********************************************
 */
.header {
  margin-top: 0.5em;
}
.header .header-title {
  text-align: center;
}
.header .author-name {
  font-size: 1.4rem;
}
.header .header-list {
  margin-top: 0.8em;
}
.header .header-list span {
  display: block;
}

/*
 * ***********************************************
 * 求职意向
 * ***********************************************
 */
.job-intention {
  margin-top: 1em;
}
.job-intention .detail-list span {
  display: block;
}

/*
 * ***********************************************
 * 个人信息
 * ***********************************************
 */
.person-info {
  margin-top: 1em;
}
.person-info .detail-list {
  padding-left: 1em;
}
.person-info .detail-list span {
  display: block;
}
.pro-skill {
  margin-top: 1em;
}


/*
 * ***********************************************
 * 工作经历
 * ***********************************************
 */
.work-experience {
  margin-top: 1em;
}
.work-experience .company {
  margin-top: 1em;
}
.work-experience .company h2 {
  font-size: 1em;
  padding: 0;
  margin: 0;
}
.work-experience .company .tools {
  display: block;
  margin-bottom: 0.5em;
  text-indent: 0;
}
.work-experience .company .project-title {
  font-size: 1em;
  display: block;
  padding-left: 0.5em;
  background: url("../image/li_icon.png") no-repeat;
  background-position-y: 0.4em;
  background-position-x: 0.35em;
  -webkit-background-size: 0.6em;
  background-size: 0.6em;
  font-weight: 600px;
}
.work-experience .company span {
  display: block;
  text-indent: 1em;
}
.work-experience .company p {
  margin: 0;
}
.work-experience .company:first-child {
  margin-top: 0;
}
.open-source {
  margin-top: 1em;
}


/*
 * ***********************************************
 * 开源作品
 * ***********************************************
 */
.open-source .source-name {
  font-size: 0.9rem;
  font-weight: 600px;
}
.open-source h2 {
  display: inline;
}
.open-source h4 {
  display: block;
  margin: 0;
  padding-bottom: 5px;
}
.honor-reward {
  margin-top: 1em;
}
.self-evaluation {
  margin: 1em 0 3em 0;
}


/*
 * ***********************************************
 * 荣誉证书与自我评价
 * ***********************************************
 */
/* 图片大小设计*/
.honor-eva .honor-reward .detail-list img{
    position: relative;
    left: 27px;
    width: 100px;
    height: 100px;
}


/*
 * ***********************************************
 * 底部文字
 * ***********************************************
 */
.bottom-text span {
  margin: 1em;
}
.bottom-text .subtitle > span {
  margin: 0;
  display: block;
}